.router-div {
  height: 800px;
}
.contact-page-div {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/background-840887_1280.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}
.inside-contact-card-div {
  margin: auto;
  position: static;
  margin-top: 5%;
  border: solid black 5px;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
  padding: 20px;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #777a86;
  background-repeat: no-repeat;
  background-size: auto;
}
.inside-contact-div {
  font-size: 200%;
  width: 100%;
  height: 100%;
}
.first-contact-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 35%;
}
.first-div-top {
  height: 50%;
}
.first-div-bottom {
  height: 50%;
}
.second-contact-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  height: 30%;
}
.div-for-resume-title {
  padding-top: 2%;
  width: 45%;
  height: 100%;
}

.div-for-pdf {
  padding-top: 2%;
  width: 45%;
  height: 100%;
  color: white;
}
.third-contact-div {
  padding-top: 4%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 35%;
}
